/*.navbar{
    background-color:black;
}*/
.navbar a{
  color: white;
}
/*.navbar a:visited{
    color:white
}*/
  .navbar a:hover {
    color: yellow;
  }
#logout{
    margin-right:10px;
    color:red
}
