
<table class="table">
  <thead>
    <tr>
      <th>Movie Name</th>
      <th>Action</th>
      <th  *ngIf="this.admin=='Admin'">Action</th>
      <th  *ngIf="this.admin=='Admin'">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let k of list">
      <td>{{k.movieName}}</td>
      <td><a [routerLink]="['/movie-details',k.movieID]" skipLocationChange="true">Details</a></td>
      <td><a *ngIf="this.admin=='Admin'" [routerLink]="['/update-movie',k.movieID]" skipLocationChange>Update Movie</a></td>
      <td><a  *ngIf="this.admin=='Admin'" routerLink="/movies" (click)="onDelete(k.movieID)">Delete Movie</a></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <button class="btn btn-danger" routerLink="/add-movie">Add Movies</button>
</div>

