<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form #validform="ngForm" (submit)="onSubmit(validform)">

      <div class="form-group">
        <label for="oldpwd">Current Password</label>
        <input type="password" id="oldpwd" name="CurrentPassword" class="form-control" ngModel required
               #oldpwd="ngModel" minlength="3" />
        <span class="help-block" *ngIf="!oldpwd.valid && oldpwd.touched">
          Password not valid!!
        </span>
      </div>


      <div class="form-group">
        <label for="pwd">New Password</label>
        <input type="password" id="pwd" name="NewPassword" class="form-control" ngModel required
               #pwd="ngModel" minlength="3" />
        <span class="help-block" *ngIf="!pwd.valid && pwd.touched">
          Password not valid!!
        </span>
      </div>
      <div class="form-group">
        <label for="cpwd">Confirm Password</label>
        <input type="password" id="cpwd" name="ConfirmNewPassword" class="form-control" ngModel
               required minlength="3" #cpwd="ngModel" />
        <span class="help-block" *ngIf="!cpwd.valid && cpwd.touched">
          Password not valid!!
        </span>
      </div>
      <input type="hidden" name="Id" ngModel="{{this.id}}" />

      <button class="btn btn-success" type="submit"
              [disabled]="!validform.valid">
        Change Password
      </button>&nbsp;
      <button class="btn btn-danger" routerLink="">
        Go back to Home
      </button>
    </form>
  </div>
</div>
